attrs==17.4.0
click==6.7
coverage==4.4.2
effect==0.11.0
Flask==1.0
hypothesis==3.44.12
itsdangerous==0.24
Jinja2==2.11.3
MarkupSafe==1.0
pluggy==0.6.0
py==1.10.0
pyrsistent==0.14.2
pytest==3.3.2
six==1.11.0
sqlite3==0.0.0
toolz==0.9.0
Werkzeug==2.2.3
